{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    


    {% for user in users.items %}
        <article class="media content-section">
          <div class="container ">
            <div class="row justify-content-center">
              
              
                <div class="card" style="width: 18rem;">
              <div class="card-img-top"><img src="{{ url_for('static', filename='uploads/' + user.image_file) }}" style="max-width: 100%" >
                <div class="card-body">
                  <div class="card-text" style="font-weight: bold;">{{ user.username }}</div>
                  <div class="card-text">{{ user.bio }}</div>
                  </div>
                  
              </div>
          </div>
          <div class="mx-auto" style="display: flex; justify-content: center; align-items: center;" >
          {% if user == current_user %}
        <p><a href="{{ url_for('account') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
            <form action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Like') }}
            </form>
        </p>
        {% else %}
        <p>
            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unlike') }}
            </form>
        </p>
        </div>
        {% endif %}
            </div>
        </div>
      </article>
    {% endfor %}
   
    <ul class="pagination justify-content-center">
    {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if users.page == page_num %}
        <li class="page-item"><a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a></li>
        {% else %}
        <li class="page-item"><a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a></li>
        {% endif %}
      {% else %}
        ...
      {% endif %}
   
    {% endfor %}
  </ul>


    {% endblock %}